.wp-block-gallery.wp-block-gallery-1 {
     --wp--style--unstable-gallery-gap: var(--wp--style--gallery-gap-default, var(--gallery-block--gutter-size, var(--wp--style--block-gap, 0.5em)));
     gap: var(--wp--style--gallery-gap-default, var(--gallery-block--gutter-size, var(--wp--style--block-gap, 0.5em)));
}

.wp-container-core-columns-is-layout-1.wp-container-core-columns-is-layout-1 {
     flex-wrap: nowrap;
}

.wp-container-core-columns-is-layout-2.wp-container-core-columns-is-layout-2 {
     flex-wrap: nowrap;
}

.wp-container-core-columns-is-layout-3.wp-container-core-columns-is-layout-3 {
     flex-wrap: nowrap;
}

.wp-container-core-columns-is-layout-4.wp-container-core-columns-is-layout-4 {
     flex-wrap: nowrap;
}

.wp-container-core-columns-is-layout-5.wp-container-core-columns-is-layout-5 {
     flex-wrap: nowrap;
}

.wp-container-core-columns-is-layout-6.wp-container-core-columns-is-layout-6 {
     flex-wrap: nowrap;
}

.wp-container-core-columns-is-layout-7.wp-container-core-columns-is-layout-7 {
     flex-wrap: nowrap;
}

.wp-container-core-columns-is-layout-8.wp-container-core-columns-is-layout-8 {
     flex-wrap: nowrap;
}

.wp-container-core-columns-is-layout-9.wp-container-core-columns-is-layout-9 {
     flex-wrap: nowrap;
}

.wp-container-core-columns-is-layout-10.wp-container-core-columns-is-layout-10 {
     flex-wrap: nowrap;
}

.wp-container-core-columns-is-layout-11.wp-container-core-columns-is-layout-11 {
     flex-wrap: nowrap;
}

.wp-container-core-columns-is-layout-12.wp-container-core-columns-is-layout-12 {
     flex-wrap: nowrap;
}

.wp-container-core-columns-is-layout-13.wp-container-core-columns-is-layout-13 {
     flex-wrap: nowrap;
}

.wp-container-core-columns-is-layout-14.wp-container-core-columns-is-layout-14 {
     flex-wrap: nowrap;
}

.wp-container-core-columns-is-layout-15.wp-container-core-columns-is-layout-15 {
     flex-wrap: nowrap;
}

.wp-container-core-columns-is-layout-16.wp-container-core-columns-is-layout-16 {
     flex-wrap: nowrap;
}

.wp-container-core-columns-is-layout-17.wp-container-core-columns-is-layout-17 {
     flex-wrap: nowrap;
}

.wp-container-core-columns-is-layout-18.wp-container-core-columns-is-layout-18 {
     flex-wrap: nowrap;
}